@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,9

:root {
--cor-principal:#2DCCD6;
--cor2:#2209fa ;
--cor3:#e9fdff ;
--preto:#04575d4b ; 
--branco: #0e01f5; 


}

   body{
        font-size: 1rem;
        font-family: 'poppins';
     }
